body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #5ea352;
  }
  h1 {
    color: #050202;
  }
  img {
    width: 45px;
    height: 45px;
    object-fit: cover; 
    margin-top: 0px;
  }
  select, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #bbbaba;
  }
  #result {
    font-size: 24px;
    margin-top: 20px;
    color: #090b0e;
  }